body{
    margin: 0;
}

/* how to use background properties
    help from Kevin Powell
    video from Youtube: Background images with HTML & CSS
 */
.mainImage{
    width: auto;
    height: 65%;
    background-image: url("../sfLowNew.jpg");
    background-size: cover;
    background-position-y: 85%;
}

h1{
    display: flex;
    justify-content: center;
}

#ABOUTME h2{
    margin-left: 10%;
}
#ABOUTME div{
    margin-left: 20%;
    display: flex;
    align-items: center;
}

.Topic{
    background-color: #E3E3E3;

    display: flex;
    margin-top: 200px;
}

.Topic > img{
    width: 33%;
    height: 100%;
}

.Topic.Left > div{
    margin-left: 32%;
}
.Topic.Right > img{
    margin-left: auto;
}
.Topic.Right > div{
    margin-left: 10%;
}















.GamesTable{
    margin-left: 50%;
    transform: translate(-50%, 0%);
    width: 65%;
    height: 30%;
    background-color: grey;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.GamesTableBox{
    width: 15%;
    height: 70%;
    background-color: white;   
}


/* this is where i left off 6-12-25 */
.gameExitBox{
    background-color:aliceblue;

    width: 75%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%,-50%);
    position: fixed;
    
    
    display: flex;
    flex-direction: column;
    
    
    z-index: 1;



}
.gameExitBox.active{
    transform: scale(1) translate(-50%,-50%);
}
.gameExitBox #exitButton{
    width: 20px;
    height: 20px;
}



canvas{
    width: 92%;
    height: 94%;
    margin-left: 50%;
    transform: translate(-50%,0);
}




/* margin 0 auto needs width for div to center
    Help from  S.O.forum:"Div not centering" from Karri RasinMaki and others in S.O. in similar forums*/

/* fixed div can't use margin: 0 auto for centering
    help from S.O. forum: Center aligning a fixed position div*/

.Overlay{
    position: fixed;

    opacity: 0;
    background-color: black;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    
}
.Overlay.active{
    opacity: 0.5;
    pointer-events: all;
}