.GamesTable{
    margin: auto;
    width: 900px;
    height: 200px;
    background-color: grey;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.GamesTableBox{
    width: 150px;
    height: 150px;
    background-color: white;   
}


.gameExitBox{
    width: 500;
    height: 600;
    background-color:aliceblue;
    position: fixed;

    /* display: flex;
    justify-content: right; */

    z-index: 9;
    left: 50%;
    top: 50%;
    transform: scale(0);
}
.gameExitBox.active{
    transform: translate(-50%,-50%) scale(1);
}
.gameExitBox.active.si{
    width: 650;
    height: 690;
    transform: translate(-50%,-50%) scale(1);
}
.gameExitBox #exitButton{
    width: 20px;
    height: 20px;
}


/* margin 0 auto needs width for div to center
    Help from  S.O.forum:"Div not centering" from Karri RasinMaki and others in S.O. in similar forums*/

/* fixed div can't use margin: 0 auto for centering
    help from S.O. forum: Center aligning a fixed position div*/

.Overlay{
    position: fixed;

    opacity: 0;
    background-color: black;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    
}
.Overlay.active{
    opacity: 0.5;
    pointer-events: all;
}