body{
    margin: 0;
    /* overflow-x hides the horizontal scroll bar created by the animations */
    overflow-x: hidden;
    background-color: #B7D5F4;

    font-family: "Calistoga";
}

/* how to use background properties
    help from Kevin Powell
    video from Youtube: Background images with HTML & CSS
 */
.mainImage{
    width: auto;
    height: 70%;
    background-image: url("./images/mainImg.jpg");
    background-size: cover;
    /* background-position-y: 50%; */
    background-position: 50% 25%
}



.ABOUTME{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

    background-color: #E6A42A;
    height: 50%;
    width: 90%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    border-radius: 4%/10%;
}
#aboutmeparagraph{
    background-color: #FBFDEA;
    width: 89%;
    height: 90%;

    border-radius: 4%/10%;

    /* overflow-y: auto; */
}
#aboutmeparagraph > p{

    height: 88%;
    width: 96.5%;
    overflow-y: auto;

    margin-left: 2%;
    letter-spacing: 0.03rem;
    font-size: 1.2rem;
}
#aboutmeparagraph > p::-webkit-scrollbar{
    width: .45rem;
}
#aboutmeparagraph > p::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 80%/5%;
}
#aboutmeparagraph > p::-webkit-scrollbar-button{
    display: none;
}

#aboutmetitle{
    width: 6%;
    margin-right: 1%;
    align-self: flex-start;
}
#aboutmetitle >h2{
    color: #FBFDEA;
    letter-spacing: 0.05rem;
    font-weight: normal;
}








.Topic{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 15%;
    height: 80%;
}


.Topic .TopicDes{
    height: 100%;
    width: 47%;
    background-color: #FBFDEA;
    border-radius: 5%/5%;
}

.Topic .topicDes > p{
    height: 82%;
    width: 94%;
    overflow-y: auto;

    color: C87C00;
    margin-left: 4%;
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
}


.Topic .topicDes > p::-webkit-scrollbar{
    width: .45rem;
    /* opacity though wooo */
}
.Topic .topicDes > p::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 80%/5%;
}
.Topic .topicDes > p::-webkit-scrollbar-button{
    display: none;
}

.Topic .topicDes > h2{
    text-align: center;
}






.Topic .topicImg{
    display: flex;
    overflow-x: hidden;
    width: 38%;
    height: 70%;
}
.Topic > button{
    height: 7%;
    width: 3%;

    border-radius:50%;

    background-color: #B7D5F4;
    box-shadow: 2px 2px 5px #000000;

    color: #81818168;
    font-size: 1.7rem;
    font-weight: 900;
    line-height: 50%;
}
.Topic .topicImg > img{
    width: 100%;
    height: 100%;
    border-radius: 5%/5%;
}






.Topic.Left{
    /* line given by Google Gemini */
    @media(prefers-reduced-motion: no-preference){
        transform: translate(-100%,0%);
    }
}
.Topic.Left.Inter{
    animation: moveTopicRight 1.5s forwards;
}

@keyframes moveTopicRight{
    to{
        transform: translate(0,0);
    }
}


.Topic.Right{
    @media(prefers-reduced-motion: no-preference){
        transform: translate(100%,0%);
    }
}
.Topic.Right.Inter{
    animation: moveTopicLeft 1.5s forwards;
}

@keyframes moveTopicLeft{
    to{
        transform: translate(0,0);
    }
}









.GameArea{
    width: 100%;
    height: 100%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.GameBox{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.GameBox .Game{
    width: 14%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10%/15%;
}





.GameBox .details{
    background-color: #FBFDEA;
    width: 65%;
    height: 100%;
    border-radius: 2%/15%;
}
.GameBox .details > p{
    height: 82%;
    width: 94%;
    overflow-y: auto;
    margin: 2.5%
}

.GameBox .details > p::-webkit-scrollbar{
    width: .45rem;
    /* opacity though wooo */
}
.GameBox .details > p::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 80%/5%;
}
.GameBox .details > p::-webkit-scrollbar-button{
    display: none;
}





.Game.one{
    background-image: url("./images/thumbnailTTT.png");
    @media(prefers-reduced-motion: no-preference){
        transform: translate(800%,0%);
    }
}
.Game.one.Inter{
    animation: moveStackedGames 1s forwards;
}
.Game.two{
    background-image: url("./images/thumbnailSI.png");
    @media(prefers-reduced-motion: no-preference){
        transform: translate(600%,0%);
    }
}
.GameBox .area2{
    width: 35%;
    border-radius: 5%/20%;
}
.Game.two.Inter{
    animation: moveStackedGames 1s forwards;
}
.Game.three{
    background-image: url("./images/thumbnailLL.png");
    @media(prefers-reduced-motion: no-preference){
        transform: translate(200%,0%);
    }
}
.Game.three.Inter{
    animation: moveStackedGames 1s forwards;
}

@keyframes moveStackedGames{
    to{
        transform: translate(0%, 0%);
    }
}














/* this is where i left off 6-12-25 */
.gameExitBox{
    background-color:#B7D5F4;

    width: 75%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%,-50%);
    position: fixed;
    
    
    display: flex;
    flex-direction: column;
    
    
    z-index: 1;



}
.gameExitBox.active{
    transform: scale(1) translate(-50%,-50%);
}
.gameExitBox #exitButton{
    margin-left: auto;

    background-color:#FBFDEA;
    color: #E6A42A;
    border: none;
    font-size: 1.7rem;
    font-weight: bold;

    width: 5%;
    height: 5%;
}



canvas{
    width: 65%;
    height: 94%;
    margin-left: 50%;
    transform: translate(-50%,0);
}




/* margin 0 auto needs width for div to center
    Help from  S.O.forum:"Div not centering" from Karri RasinMaki and others in S.O. in similar forums*/

/* fixed div can't use margin: 0 auto for centering
    help from S.O. forum: Center aligning a fixed position div*/

.Overlay{
    position: fixed;

    opacity: 0;
    background-color: black;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    
}
.Overlay.active{
    opacity: 0.5;
    pointer-events: all;
}




footer{
    height: 20%;
}